<div id="<%= dom_id golfer %>">
    <tbody>
      <tr>
        <td><%= golfer.world_ranking%></td>
        <td><%= golfer.name%></td>
        <td><%= link_to "Show this golfer", golfer %></td>
      </tr>
    </tbody>
</div>
